{% extends 'store/main.html' %}
{% block content %}
    <div class="row my-2">
		<div class="col-lg-4 order-lg-1 text-center">
			{% if request.user.profile.photo %}
				<img src="{{ user.profile.photo.url }}" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" height="150">
			{% else %}
				<img src="http://127.0.0.1:8000/static/images/default.png" class="mx-auto img-fluid img-circle d-block" alt="avatar" width="150" , height="150">
			{% endif %}
            {% if request.user.is_authenticated %}
				{% if request.user == user %}
					<br>
					<a class="btn btn-secondary mb-2" href="{% url 'edit_profile' %}">Edit Profile</a>
				{% endif %}
			{% endif %}
        </div>
        <div class="col-lg-8 order-lg-2">
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
					<h6>@{{user.username}}</h6>
                    <h2 class="mb-3">{{user.first_name}} {{user.last_name}}</h2>
                    <div class="row">
                        <div class="col-md-6">
							<p><strong>Date Of Birth: </strong>{{user.profile.date_of_birth}}</p>
							<p><strong>E-Mail: </strong>{{user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<hr class="my-4">
	<hr class="my-4">
	
{% endblock %}